= form_for @user, html:{class:'form-horizontal'} do |f|
  = f.fields_for :person do |person|
    = render 'core/shared/personable_fields', f: person
  .row
    .col-sm-6
      = form_group_for f, :username do
        .col-sm-8
          = f.text_field :username, class: 'form-control'
    .col-sm-6
      = form_group_for f, :company do
        .col-sm-8
          = f.text_field :company, class: 'form-control'
    .col-sm-6
      = form_group_for f, :email do
        .col-sm-8
          = f.email_field :email, class: 'form-control'
    .col-sm-6
      = form_group_for f, :department do
        .col-sm-8
          = f.text_field :department, class: 'form-control'
    .col-sm-6
      = form_group_for f, :division do
        .col-sm-8
          = f.text_field :division, class: 'form-control'
    .col-sm-6
      = form_group_for f, :start_of_day do
        .col-sm-8
          = f.time_field :start_of_day, class: 'form-control'
    .col-sm-6
      = form_group_for f, :end_of_day do
        .col-sm-8
          = f.time_field :end_of_day, class: 'form-control'
  .row.form-group.text-center
    = f.submit t('views.shared.save'), class: 'btn btn-sm btn-primary'
    = link_to t('views.shared.cancel'), :back, class: 'btn btn-sm btn-danger'
