.card
  .card-header
    %p.lead= t('views.core/tasks.index.title')
    .card-actions
      = link_to new_core_task_path, class:'btn btn-default' do
        %i.fa.fa-plus
  .card-block
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
          %th=t('activerecord.attributes.core/task.assigned_to')
          %th=t('activerecord.attributes.core/task.subject')
          %th=t('activerecord.attributes.core/task.description')
          %th=t('activerecord.attributes.core/task.starts_at')
          %th=t('activerecord.attributes.core/task.ends_at')
          %th=t('activerecord.attributes.core/task.created_at')
          %th=t('activerecord.attributes.core/task.updated_at')
      %tbody
        - @tasks.each do |task|
          %tr
            %td
              = link_to t('views.shared.edit'), edit_core_task_path(task)
              |
              = link_to t('views.shared.delete'), core_task_path(task), method: :delete, data:{confirm: t('views.shared.delete_message')}
            %td= link_to task.assigned_to.person.full_name, task.assigned_to
            %td= task.subject
            %td= task.description
            %td= l(task.starts_at, format: :short) if task.starts_at
            %td= l(task.ends_at, format: :short) if task.ends_at
            %td= l(task.created_at, format: :short)
            %td= l(task.updated_at, format: :short)
    #taskPaginator= paginate @tasks, remote: true, param_name: :task_page
