.card
  .card-header
    %p.lead= @contact.person.first_name if @contact.person
    .card-actions
      = link_to new_crm_contact_path, class:'btn btn-default' do
        %i.fa.fa-plus
      = link_to edit_crm_contact_path(@contact), class:'btn btn-default' do
        %i.fa.fa-pencil
  .card-block
    %table.table.table-condensed.table-striped
      %tr
        %th=t('activerecord.attributes.crm/contact.account')
        %td= @contact.account
        %th=t('activerecord.attributes.crm/contact.number')
        %td= @contact.number
      %tr
        %th=t('activerecord.attributes.crm/contact.level')
        %td= @contact.level
        %th=t('activerecord.attributes.crm/contact.lead_source')
        %td= @contact.lead_source
      %tr
        %th=t('activerecord.attributes.core/person.first_name')
        %td= @contact.person.first_name
        %th=t('activerecord.attributes.core/person.last_name')
        %td= @contact.person.last_name
      %tr
        %th=t('activerecord.attributes.core/person.phone')
        %td= @contact.person.phone
        %th=t('activerecord.attributes.core/person.extension')
        %td= @contact.person.extension
      %tr
        %th=t('activerecord.attributes.core/person.mobile')
        %td= @contact.person.mobile
        %th=t('activerecord.attributes.core/person.email')
        %td= @contact.person.email
      %tr
        %th=t('activerecord.attributes.core/person.assistant')
        %td= @contact.person.assistant
        %th=t('activerecord.attributes.core/person.asst_phone')
        %td= @contact.person.asst_phone
      %tr
        %th=t('activerecord.attributes.crm/contact.language')
        %td= @contact.language
        %th=t('activerecord.attributes.crm/contact.description')
        %td= @contact.description
      %tr
        %th=t('activerecord.attributes.crm/contact.created_at')
        %td= l(@contact.created_at, format: :short)
        %th=t('activerecord.attributes.crm/contact.updated_at')
        %td= l(@contact.updated_at, format: :short)
      %tr
        %th=t('activerecord.attributes.crm/contact.created_by')
        %td= @contact.created_by.person.full_name
        %th
        %td
